
body{
    background-color: #ffffff;
    font-size: 16px;
    font-family: Ubuntu;
}
.wrapper{
    margin: 50px 0;
}
#details{
    margin-left: 100px;
    color: rgb(46, 82, 114);
}   
.product-item{
    margin:10px 0;
}
.cart-details{
   grid-column: span 4;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-right: 45px;
   color: #81858d;


}
.cart-sub-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.product-details{   
    display: flex;
    flex-direction: row;    
     gap: 120px;
}
.product{
    right: 120px;
}
.summary{
    grid-column: span 2;
    padding: 25px;
    border: 1px solid  #f5f7fa;
    background-color: #f5f7fa;
    border-radius: 10px;
    color: #9a9ea5;
    width: 350px;
    margin-left: 200px;
}
.sub-wrapper{
    display: grid;  
    grid-template-columns: repeat(6, 1fr);
    margin-left: 80px;
    margin-right: 150px;
    align-items: flex-start;
 
}
.subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.estimated-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
.saving{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
.shipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}
.checkout{
    width: 300px;
    height: 40px;
   
    background-color: rgb(46, 82, 114);
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 200;
}
.checkout:hover{
    cursor: pointer;
    
}
.subtotal-total,.free-shipping,.estimated-total-total{
    color: 
    #3f434d;
}
.order-summary{
    color: #1a1f27;
    font:  sans-serif;;
    margin-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 600;
}
.estimated-total-total{
    font-size: 1.25rem;
    font-weight: 600;
}
.product,.items{
    margin-left: 150px;
}
.items{
    margin-top: 30px;
}


.quantity-control {
    display: flex;
    align-items: center;
  }
  .quantity-control button {
    background-color: rgb(46, 82, 114);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .quantity-control button:hover {
    background-color: #0056b3;
  }
  .quantity-input {
    background-color: #f5f7fa;
    width: 50px;
    text-align: center;
    border: 1px solid #ced4da;
    padding: 6px 10px;
    margin: 0 10px;
    border-radius: 5px;

  }

  /* css for the displayed products */ 

  
  #items{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  } 
  .product-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }

  .divWrap{
    display: flex;      
    flex-direction: column; 
    align-items: flex-start
    
  }
  .subWrap{
    display: flex;
    flex-direction: row;    
    gap: 5px;

  }
  .brandSpan{
    display: flex;
    flex-direction: row;
  }

  .remove-item {
    cursor: pointer; 
    transition: transform 0.3s, color 0.3s; 
}

.remove-item:hover {
    transform: scale(1.2); 

}