footer{
    background-color: rgb(46, 82, 114);;
    padding-bottom: 5px;
}
.footerList-box{
    width: 30%;
}
.ListHeader{
    color: #93A3B1;
    font-family: Ubuntu;
    font-size: 20px;
}
ul{
    margin: 40px;
    color: rgb(42, 40, 40);
    list-style: none;
}
.listfooter{
    font-family: Ubuntu;
    font-size: 15px;
    color: rgb(42, 40, 40);
    margin: 2px;
}
.footerLink{
    text-decoration: none;
    font-family: Ubuntu;
    color: rgb(42, 40, 40);
}
.footerLink:hover{
    color: white;
}
.footerList-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer > p{
    text-align: center;
    color: #93A3B1;
    margin-bottom: 5px; 
    font-size: 20px; 
    font-family: Ubuntu;
    margin-top: 0;
}