 body{
    background-color:#fafafa;
    font-family: Ubuntu;
 }
 
 
 /*section one*/
 .firstSection {
     background-image: url('../Images/bg3.jpg');
     height: 100vh;
     width: 99vw;
   background-size: cover;
   padding: 10px;
}
.firstSection-midText{
    text-align: center;
    color: rgb(47, 89, 125);
}
.firstSection-midText-header{
    margin-top: 250px;
    font-family: Ubuntu;
    font-size: 70px;
    
}
    
/*section two*/
.secondSection{
    display: flex;
    background-color:#e1dfdf;
    border-top: 1px solid #e0e0e0;
}

.secondSection-text-para{
    padding-top: 100px;
    padding-left: 30px;
    font-family: Ubuntu;
    font-weight: bolder;
    font-size: 60px;
} 
.slider-container{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid black; 
    height: 50%;
    width: 70%;
    margin-left: 150px; 
    border-radius: 20px;
}

.slide-image{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    vertical-align:middle;

}

/*products section*/
#Categories-label{
    color: rgb(46, 82, 114);    
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 35px;
    margin-left: 100px;
}
#Categories{
    color: rgb(46, 82, 114);    
    width: 20%;
    height: 60px;
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: normal;
    margin-left: 20px;
    border-radius: 20px;
    padding: 15px ;
    background-color:rgb(46, 82, 114);
    color: #e1dfdf;
    border:2px solid rgb(46, 82, 114) ;
    outline: 0;
    appearance: none;
    cursor: pointer;
}

option {
    background-color: #fff;
    color: rgb(46, 82, 114);    
    padding: 10px;
}



#Categories:focus{
    border: 2px solid black;
}

#products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    column-gap: 5px;
}
.products-container-box{
    background-color: #F5F7F8;
    margin-top: 50px;
    border: 1px solid lightgrey;
    width: 25%;
    height: 20%;
    border-radius: 20px;
    
}
.products-container-box-image{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
}
.products-container-box-name{
    color:rgb(46, 82, 114);
    font-weight: bold;
    font-size: 25px;
    margin-left: 5px;
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-family: Ubuntu;
    padding-left:20px;
    max-height: 100%;
    margin: 3px 0;
}
.products-container-box-name:hover{
    color:gray;
}
.products-container-box-brand , .products-container-box-price{
    color:rgb(46, 82, 114);
    font-size: 20px;
    margin-left: 5px;
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-family: Ubuntu;
    padding-left:20px;
    max-height: 100%;
    margin: 3px 0;
}

.products-container-box-addToCart{
    float: right;
    border: 0px;
    margin: 0 20px 20px 0;
    width: 45%;
    height: 45px;
    border-radius: 15px;
    background-color:rgb(46, 82, 114);
    color: #e1dfdf;
    text-align: center;
    font-size: 20px;
    font-family: Ubuntu;
    cursor: pointer;

}

/*thired Section*/
.thiredSection{
    border-top: 1px solid #e0e0e0;
    text-align: center;
    background-color:#e1dfdf;
}
.thiredSection-header{
    color:black;
    font-family: Ubuntu;
    font-size: 35px;
    
}
.thiredSectioin-flexBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.thiredSectioin-flexBox-box{
    width: 20%;
    height: 40%;
    margin-top: 25px;
    background-color: transparent;
    border-radius: 20px;
    
}
.thiredSectioin-flexBox-box-image{
    height: 10vh;
    width: 5vw;
    border-radius: 20px;
}
.thiredSectioin-flexBox-box-header{
    color:black;
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 25px;
}
.thiredSectioin-flexBox-box-text{
    color:black;
    font-weight: lighter;
    font-family: Ubuntu;
    font-size: 20px;
}

  