.Products-section{
    padding-top: 100px;
}
.Products-section h2{
    margin-left: 100px;
    font-family: Ubuntu;
    font-size: 3rem;
    color: rgb(46, 82, 114);
}
#products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 5px;
}
.products-container-box{
    background-color: #F5F7F8;
    margin: 50px 0;
    border: 1px solid lightgrey;
    width: 25%;
    min-height: 100%;
    border-radius: 20px;
}
.products-container-box-image{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
}
.products-container-box-name{
    color:rgb(46, 82, 114);
    font-weight: bold;
    font-size: 25px;
    margin-left: 5px;
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-family: Ubuntu;
    padding-left:20px;
    max-height: 100%;
    margin: 3px 0;
}

.products-container-box-name:hover{
    color:gray;
}

.products-container-box-brand , .products-container-box-price{
    color:rgb(46, 82, 114);
    font-size: 20px;
    margin-left: 5px;
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-family: Ubuntu;
    padding-left:20px;
    max-height: 100%;
    margin: 3px 0;
}
.products-container-box-addToCart{
    float: right;
    border: 0px;
    margin: 0 20px 20px 0;
    width: 45%;
    height: 45px;
    border-radius: 15px;
    background-color:rgb(46, 82, 114);
    color: #e1dfdf;
    text-align: center;
    font-size: 20px;
    font-family: Ubuntu;
    cursor: pointer;
}
