/*show product section*/
#show-product-container-image{ 
    
    margin: auto;
    margin-top: 60px;
    width: 50%;
    background-color: white;
    float: left;
    max-height: 100%;
    margin-bottom: 50px;
}
#show-product-container-info{
    background-color: white;
    margin-top: 60px;
    float: right;
    width: 50%;
    margin-bottom: 50px;
}
#product-image{
    height: 80vh;
    width: 80vw;
   width: 70%;
   margin-left: 100px;
   
}

#show-product-header{
    text-align:left;
    font-weight: bold;
    font-size: 60px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color:rgb(46, 82, 114);
}
#show-product-description{
    color:rgb(46, 82, 114);
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 22.5px;
    font-weight:600;
}
#show-product-rating{
    color:rgb(46, 82, 114);
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 22.5px;
    font-weight: 600;
}
#show-product-price{
    color:rgb(46, 82, 114);
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 22.5px;
    font-weight: 600;
}
#show-product-category{
    color:rgb(46, 82, 114);
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 22.5px;
    font-weight: 600;
}
#add-to-cart{
    float: right;
    margin-top: 30px;
    margin-right: 100px;
    width: 30%;
    height: 60px;
    border: 0px;
    border-radius: 20px;
    background-color:rgb(46, 82, 114);
    color: #e1dfdf;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 22.5px;
}

/* product Details section*/
#details-container{
}
#product-details-header{
    background-color: rgb(46, 82, 114);
    clear: both;
    padding-top: 50px;
    color: #F5F7F8;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-left: 30px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#details-list{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(46, 82, 114);
    margin-bottom: 200px;
    padding-left: 25px;
    font-weight: 500;
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #F5F7F8;
    padding-bottom: 40px;
}
#brand , #weight ,#width ,#height,#depth,#warrenty,#shipping{
    margin-top: 0px;
    color: #93a3b1;
    font-size: 27px;
    padding-left: 60px;
}


/*reviews section*/
#reviews-section{
    border-top: 0px solid black;
    margin-top: -200px;
}
#reviews-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#reviews-container-header{
    margin-left: 30px;
    color: black;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.review-box{
    background-color: #F5F7F8;
    margin-bottom: 20px;
}
.reviewer-name{
    margin-left: 30px;
    color: black;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.reviewer-email{
    margin-left: 30px;
    color: black;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0px !important;
    margin-bottom: 5px;
    
}
.reviewer-comment{
    margin: 0;
    margin-left: 30px;
    margin-bottom: 5px;
    color: #0d7ea0;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}
.reviewer-rating{
    margin: 0;
    margin-left: 30px;
    margin-bottom: 5px;
    color: black;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 20px;
}
.review-date{
    margin: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    color: black;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    
}